<h1>Mentor Group List</h1>

    <% @groups.each do |group| %>
        <p>Group Name: <%= group.name %></p>
        <% group.users.each do |user|%>
          <%if user.mentor == true %>
          <p>Mentors: <%= user.name %><p>
          <% end %>
        <% end %>
        <p><%= link_to 'Group Details', group %></p>
        <p><%= link_to 'Edit', edit_group_path(group) %></p>
        <p><%= link_to 'Delete Group', group, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <br>
    <% end %>
<br>

<%= link_to 'New Group', new_group_path %>