<h1>Mentor Group List</h1>

<table>
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Lead Mentor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <% group.users.each do |user|%>
          <%if user.mentor == true %>
          <td><%= user.name %><td>
          <% end %>
        <% end %>
        <td><%= link_to 'Group Details', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Delete Group', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>