<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field"> 
    <%= f.label :picture_url %><br>
    <%= f.text_field :picture_url %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_field :birthdate %>
  </div>
  <div class="field">
    <%= f.label :interests %><br>
    <%= f.text_field :interests %>
  </div>
  <%if @user.admin? %>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.select :admin, [['Active', true], ['Inactive', false]] %>
  </div>
 <div class="field">
    <%= f.label :mentor %><br>
    <%= f.select :mentor, [['Active', true], ['Inactive', false]] %>
  </div>
  <%end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>