<div class="container ten columns"><h1>Member List</h1>

<div class="wrapper">

    <% @users.each do |user| %>
   
        <p><img height 100px src="<%= user.picture_url %>"></p>
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Address: <%= user.address %></p>
        <p>Bio: <%= user.bio %></p>
        <p>Interests: <%= user.interests %></p>
        <p>Birthday: <%= user.birthdate %></p>
        <p>Mentor: <%= user.mentor %></p>
        <p>Admin: <%= user.admin %></p>
        <p><%= link_to 'View Profile', user %></p>
        <p><%= link_to 'Edit Profile', edit_user_path(user) %></p>
        <p><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
<br>

<%= link_to 'Add User', new_user_path %>
</div>