<div class="container ten columns"><h1>Member List</h1>

<div class="wrapper">

    <% @users.each do |user| %>
   
        <p><img height 150px src="<%= user.picture_url %>" alt=""></p>
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Address: <%= user.address %></p>
        <p>Bio: <%= user.bio %></p>
        <p>Interests: <%= user.interests %></p>
        <p>Birthday: <%= user.birthdate %></p>
        <p>Mentor: <%= user.mentor %></p>
        <p>Admin: <%= user.admin %></p>
        <p><%= link_to 'Show', user %></p>
        <p><%= link_to 'Edit', edit_user_path(user) %></p>
        <p><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
<br>

<%= link_to 'New User', new_user_path %>
</div>