<p id="notice"><%= notice %>
<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>
<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>
<p>	
	<strong>About me: </strong>
	<%= @user.bio %>
</p>
<p>
	<strong>Admin?</strong>
	<%= @user.admin? %>
</p>
<p>
	<strong>Mentor?</strong>
	<%= @user.mentor? %>
</p>
<p>
	<strong>Interests: </strong>
	<p><%= @user.interests %></p>
</p>

<%= link_to "Update Profile", edit_user_path(@user) %> 
